@import 'http://guuibayer.github.io/select-share/flaticon.css';

.select-share {
	transform: scale3d(0.1, 0.2 ,1);
	/*transform-origin: 50% 120%;*/
	transition: opacity 0.3s, transform 0.3s;
	transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
	display: inline-block;
	border-radius: 5px;
	z-index: 9999;
	position: relative;
	padding: 8px;
	opacity: 0;
	text-align: center;
	background: #262625;
}

.select-share::after {
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	left: 50%;
	top: 30px;
	background: #262625;
	transform: translateX(-50%) rotate3d(0,0,1,45deg);	
}

.select-share-open {
	opacity: 1;
	pointer-events: auto;
	transform: scale3d(1,1,1);
}

.flaticon-circle,
.flaticon-social,
.flaticon-social-media {
	font-size: 20px;
	font-weight: 100;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	margin: 0 5px;
	position: relative;
	z-index: 5;
}